[submodule "vim/pack/normal/start/vim-airline"]
	path = vim/pack/normal/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/normal/start/vim-airline-themes"]
	path = vim/pack/normal/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/normal/start/vim-go"]
	path = vim/pack/normal/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/normal/start/vim-toml"]
	path = vim/pack/normal/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/zsh-history-substring-search"]
	path = zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
